html{
    position:relative;
    min-height:100%;
    margin:0;
}
body{
    min-height:100%;
}
.bg-primary{
    background-color: #F08080!important;
}
.btn-outline-success{
    color: #000000;
    border-color: #000000;
}
.btn-primary{
    color: #fff;
    background-color: #F08080;
    border-color: #F08080;
}
.page-item.active .page-link{
    z-index: 3;
    color: #fff;
    background-color: #F08080;
    border-color: #F08080;
}
.footer{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    padding:15px 0;
    text-align:center;
}
.content{
    margin-bottom:100px;
    margin-top:50px;
    margin-left:200px;
    margin-right:200px;
}